body {
  background-color: white;


}

h1.lgn {
  text-align: center;
}

.cover {
  display: flex;
  margin: 200px;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  width: 30em;
  height: 30em;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25em;
  margin-left: 500px;
}

.name {

  margin: 20px;
}

.password {
  margin: 20px;
}

input {
  text-align: center;
  border-radius: 0.25em;
}

button {
  width: 80%;
  margin-left: 20px;
  background-color: rgb(7, 87, 124);

}

header h1 {
  text-align: left;
  color: white;
}

header nav a {
  padding: 6px;
  border-radius: 4px;
}


.product-list {
  display: flex;
  font-size: 10px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;


}

.details {
  border: 2px solid black;
  padding-left: 10px;
  border-radius: 1em;
  background-color: azure;
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow-y: scroll;
}



.details img {
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 1em 1em 0 0;
  padding-left: 70px;

}

.cart-details {
  border: 2px solid black;
  padding-left: 10px;
  border-radius: 0.25rem;
  background-color: azure;
  font-size: 10px;
}

.del-btn {
  width: 200px;
}

/* .details:hover {
  background-color: rgb(135, 135, 135);
  color: white;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s ease;
} */